body {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  width: 100%;
  margin: 0;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center
}

h1 {
  text-align: center;
  padding: 0px;
}

.topEmoji {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
}

img {
  width: 10%;
  height: 5%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 0;
}
#div {
  display: flex;
  flex-direction: row;
}
#container {
  margin-top: 55px;
  box-sizing: border-box;
  padding: 1em;
  padding-bottom: 0.5em;
  background: url(assets/christine-trant-aj1B4wkOCpI-unsplash.jpg);
  background-position: center;
  width: 80%;
  border-radius: 50px;
  border-style: outset;
  border-style: none;
  box-shadow: 10px 10px 15px 10px rgb(111, 90, 90);
}
#tipInput {
  width: 45%;
  align-items: center;
  margin-left: 8px;
  vertical-align: middle;
}
#splitInput {
  width: 45%;
  align-items: center;
  margin-left: 0px;
  vertical-align: middle;
}
hr {
  width: 80%;
}
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 15px;
}
label {
flex-direction: row;
}
span {
  flex-direction: row;
  align-items: flex-end;
}
div {
  line-height: 3em;
}
input[type="text"] {
  font-size: 1.1em;
  text-align: center;
  width: 50%;
  font-size: 14px;
  border: 1px solid darkgray;
  margin-left: 7px;
}
#newBill {
  align-items: end;
  justify-content: space-around;
  margin-left: 10px;  
}
#tipEach {
  align-items: end;
  justify-content: space-around;
  margin-left: 3px;  
}
label, input {
  width: 100%;
}
@media(min-width: 700px) {
  body {
    background: white no-repeat center center fixed;
    width: 60%;
    background: url(assets/patrick-schneider-5xltWMpkN3E-unsplash.jpg) no-repeat center center fixed;
    background-size: cover; 
    background-repeat: no-repeat;
    margin-top: 150px;
    margin: auto; 
    align-items: center;
    display: flex;
    justify-content: center;
  }
  #container {
    opacity: 1;
    display: block;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }
  label, 
  input {
    display: inline-block;
    width: 40%;
  }

  div {
    line-height: 4em;
  }
}